#bst-page {
  height: 100%;
  min-height: 100%;
  margin: 30px;
}
#bst-canvas {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 1600px;
  height: 100%;
  position: relative;
}

#bst-page .node {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
}

#bst-canvas-svg {
  height: 100%;
  width: 1600px;
}

#bst-page .search-failed-node {
  background-color: red;
}

#bst-page .bst-navigation {
  border: solid black 1px;
}

#bst-page .answer-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bst-page #answer-display {
  border: solid black 1px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#bst-page #answer-display p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

#bst-page .answer-header {
  font-weight: bold;
}

#bst-page .input-row .input-group {
  margin-bottom: 0 !important;
}

#bst-page .searched-node {
  animation-name: searchedNodeAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes searchedNodeAnimation {
  0% {
    transform: scale(0.7);
    background-color: yellow;
  }

  50% {
    transform: scale(1.2);
    background-color: yellow;
  }

  100% {
    transform: scale(1);
    background-color: yellow;
  }
}

#bst-page .found-node {
  animation-name: foundNodeAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes foundNodeAnimation {
  0% {
    transform: scale(0.7);
    background-color: green;
  }

  50% {
    transform: scale(1.2);
    background-color: green;
  }

  100% {
    transform: scale(1);
    background-color: green;
  }
}
